body {
    background-image: url(../images/background.jpg);
    background-position: -112px -200px;
    background-size: 115%;

}

.title-img {
    max-width: 300px;

}

.container {
    padding: 40px;
    width: 910px;
    margin-top: 40px;
    border-style: solid;
    border-width: 3px;
    border-style: ridge;
    border-color: rgb(255, 187, 0);
}

#answer-img {
    max-height: 300px;
    margin: 5px;
    border-style: solid;
    border-width: 3px;
    border-style: ridge;
    border-color: rgb(255, 187, 0);
}